<h1> Listas </h1>

<% if @projects.count != 0 %>
  <% @projects.each do |project| %>
    <div class= "project-name">
      <%= project[:name] %>
    </div>
    <div class= "project-url">
      <%= project[:url] %>
    </div>
    <div class "project-destroy-bt">
      <%= link_to "Excluir", project, method: :delete, data: {confirm: 'Deseja mesmo excluir?'} %>
    </div>
  <% end %>
<% else %>
  <p> nenhum projeto cadastrado </p>
<% end %>

<%= link_to 'Cadastrar projeto', new_project_path %>