<%= render partial: 'tabs/header' %>

<div class= "project-box">
  <h1> Projeto ainda não foi clonado, por favor espere um momento e recarregue a página </h1> 
  <%= render partial: 'tabs/project_info', locals:{project: @project} %>
</div>
