<div class= "header">

  <div class= "title">
    <h1> Project View </h1>
  </div>

  <div class= "new-project">
    <%= link_to 'Voltar', projects_path %>
  </div>

</div>

<div class= "project-box">
  <h1> Projeto ainda não foi clonado, por favor espere um momento e recarregue a página </h1> 
  <div class= "project-info">
    <h2><%= @project.name %></h2>
    <h3><%= @project.url %></h3>
  </div>
</div>