<div class= "header">

  <div class= "title">
    <h1><%= link_to 'Taxonomista', projects_path %></h1>
  </div>

  <div class= "back-button">
    <%= link_to 'Voltar', projects_path %>
  </div>

</div>