<div class= "wrapper">
  <%= render partial: 'projects/show', locals:{project: @project} %>

  <div class= "destroy-tab">
    <%= link_to "X", destroy_tab_url(@project.id, @tab.id), method: :delete, data: {confirm: 'Deseja mesmo excluir?'} %>
  </div>

  <div class= "kramdown-render">
    <%= kramdown(@tab.html).html_safe %>
  </div>
</div>