.new-project{
  margin: 100px auto;
  width: 1024px;
  height: 500px;
  

  label{
    margin-top: 20px;
    font-size: 30px;

  }
  .title-name-entry{
    width: 1024px;
    height: 200px;
  }
}

.button-submit{
  input{
    margin-left: 312px;
    margin-top: 30px;
    width: 400px;
    height: 80px;
    background: #E6E6E6;
    font-size: 30px;
    border-radius: 20px;
  }

  input:hover{
    background: white;
  }
}

input{
  margin-top: 10px;
  width: 1024px;
  height: 100px;
  background-image: linear-gradient(to top, white, #E6E6E6);
  border-radius: 20px;
  font-size: 50px;

}

.back-home{
  width: 190px;
  height: 30px;
  float: right;
  margin-right: 150px;
  margin-top: -30px;
  background: #E6E6E6;
  border-radius: 10px;

  a{
    color: #353535;
    display: inline-block;
    padding-top: 7px;
    padding-left: 25px;
    padding-bottom: 7px;
    padding-right: 28px;
    font-family: verdana;
    text-decoration: none;
  }
  
  
}

.back-home:hover{
    background: white;
  }