.cadastro {
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  padding-bottom: 40px;
  .cadastro-title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 70px;
    background: #244F72;

    h1 {
      color: white;
      margin-left: 40px;
      padding-top: 15px;
    }
  }
}


.cadastro-field1 {
  width: 1024px;
  height: 100px;
  margin-top: 50px;
  label {
    color: #244F72;
    font-size: 22px;
    margin-left: 40px;
  }

  input {
    margin-top: 8px;
    height: 40px;
    margin-left: 130px;
    width: 800px;
    font-size: 20px;
    color: #244F72;
  }
}

.cadastro-field2 {
  width: 1024px;
  height: 180px;

  label{
    color: #244F72;
    font-size: 22px;
    margin-left: 40px;
  }

  input {
    height: 40px;
    margin-left: 130px;
    margin-top: -45px;
    position: absolute;
    width: 800px;
    font-size: 20px;
    color: #244F72;
  }

  h3 {
    margin-left: 35px;
    color: #244F72;
    font-size: 15px;
  }
}

.cadastro-buttons {
  float: right;
  width: 500px;
  height: 40px;
 
  clear: both;
  display: table;
  
  input {
    width: 200px;
    height: 40px;
    background: #244F72;
    margin-left: 210px;
    margin-top: -40px;
    position: absolute;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .back-button {
    width: 200px;
    height: 40px;
    background: #244F72;
    margin-top: -30px;

    a {
      display: inline-block;
      line-height: 40px;
      padding-left: 75px;
      padding-right: 78px;
    }
  }
}

.cadastro-error {
  background:  #A2261C;
  width: 300px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  position: absolute;
  margin-left: 340px;
  margin-top: -50px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  h6 {
    display: inline-block;
    margin-left: 40px;
    color: #FFF;
  }

}











