.back-button{
  width: 80px;
  height: 30px;
  background: #244F72;
  border-radius:2px;
  float: right;

  a{
    font-size: 16px;
    color: #FFFFF5;
    display: inline-block;
    padding-top: 2px;
    padding-left: 17px;
    padding-bottom: 3px;
    padding-right: 18px;
    font-family: verdana;
    text-decoration: none;
  }
}

.project-info {
  margin-top: 40px;

  &:after {
    content: " ";
    clear: both;
    display: table;
  }

  h2 {
    font-size: 30px;
    color: #001C3E;
    border-bottom: none;
    margin: 0;
  }
  
  h3 {
    color: #014D71;
    margin: 0;
    font-size: 14px;
  }

  .button {
    padding: 10px 20px;
    background: #244F72;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }

  .project-box {
    float: left;
  }

  .settings {
    float: right;
  }
}