.back-button{
  widtƒ: 70px;
  height: 30px;
  background: #244F72;
  border-radius:2px;
  float: right;

  a{
    font-size: 16px;
    color: #FFFFF5;
    display: inline-block;
    padding-top: 2px;
    padding-left: 11px;
    padding-bottom: 3px;
    padding-right: 10px;
    font-family: verdana;
    text-decoration: none;
  }
}
.project-info{
  
  margin-top: 100px;
  h2 {
    font-size: 30px;
    padding-left: 30px;
  }
  
  h3{
    padding-left: 60px;
  }

  .atualizar{

    button{
      width: 100px;
      height: 40px;
      background: #244F72;
      border-radius: 5px;
      border-style: none;
      font-size: 16px;
      color: #FFFFFF;

    }
    
    float: right;
    margin-top: -105px;
    margin-right: 165px;
    position: relative;
    z-index: 10;
  }
  .project-destroy{

    width: 160px;
    height: 40px;
    margin-top: -105px;
    background: #244F72;
    border-radius: 5px;
    float: right;
    position: relative;
    z-index: 10;

    a{
      font-size: 16px;
      color: #FFFFF5;
      display: inline-block;
      padding-top: 5px;
      padding-left: 12px;
      padding-bottom: 10px;
      padding-right: 16px;
      font-family: verdana;
      text-decoration: none;
    }
  }

}







