.tab-tabs {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;

  a {
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    background-color: #333;

    color: white;

    &:hover {
      background-color: #666;
    }
  }  
}